<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Form</h1>
    <form action="" method="post">
        <label for="">Name</label>
        <input type="text" name="na"><br>
        <label for="">Email</label>
        <input type="email" name="em"><br>
        <label for="">Phone</label>
        <input type="number" name="num"><br>

        <input type="submit" value="Done">

    </form>
    
</body>
</html>